<div class="row footer" id="footer">
  <div class="container container-wide">
    <div class="col-xs-12 text-center">
      <h1>Вы все еще может поддержать проект :-)</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-11 col-centred pay-item-group text-center">
      <div class="col-xs-12 col-md-6 pay-item ">
          <a href="https://pay.vseplatezhi.ru/paymentres?provider_id=19617168" target="_blank" class="">
              перевод банковской картой
          </a>
      </div>
      <div class="col-xs-12 col-md-6 pay-item">
          <a href="http://2014.picnicomsk.ru/donate/" target="_blank" class="">
              подробнее о способах поддержки
          </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-centred contacts">
        <div class="col-xs-12 text-center">
          <h1>Контакты</h1>
        </div>
        <div class="col-xs-12 text-center col-centred">
          <div class="col-xs-12 col-lg-6">
            <a href="http://theps.ru" target="_blank">
              <img src="../../images/pub-speach-logo.png" alt="" class="img-responsive center-block">
            </a>
            <div class="col-xs-12 mail">
              <span class="img"></span>
              <a href="mailto:hello@theps.ru">hello@theps.ru</a>
            </div>
            <div class="col-xs-12 site">
              <span class="img"></span>
              <a href="http://theps.ru" target="_blank">thepublicspeach.ru</a>
            </div>
            </div>
          <div class="col-xs-12 col-lg-6">
            <a href="http://7bits.ru" target="_blank">
              <img src="../../images/7bits-logo.png" alt="" class="img-responsive center-block img-7bits">
            </a>
            <div class="col-xs-12 mail">
              <span class="img"></span>
              <a href="mailto:aloha@7bits.it">aloha@7bits.it</a>
            </div>
            <div class="col-xs-12 site">
              <span class="img"></span>
              <a href="http://7bits.ru" target="_blank"> 7bits.ru</a>
            </div>
            </div>
        </div>
    </div>
</div>

</div>