<div class="row map-row" id="map-row">
    <div class="container container-main color-text-dark subheader-font title-map">карта городского пикника</div>
    <div id="map" style="width: 100%; height: 665px">
    </div>
</div>