<div class="row map-row" id="map-row">
    <div class="container container-main color-text-dark title-map">
      <h1>карта городского пикника </h1>
    </div>
    <div class="map-content" id="map" style="width: 100%; height: 665px">
    </div>
</div>