<div class="row materials subheader-font">
  <div class="container container-main">
    <h1 class="color-text-main">анонсы мероприятий</h1>
    <div class="js-reload-materials row reload">
        <a href="" class="reload-btn" data-url="instagram-list" data-container="content-instagram" data-template="instagram"><span class="reload-img"></span>Обновить</a>
     </div>
  </div>
  <div class="container wide-container">
    <span class="js-arrow-left arrow arrow-left pull-left"></span>
        <div class="content-materials content color-text-dark">

          <div class="item">
            <a href="" class="to-materials"><!-- link to action on public-speach site -->
              <div class="img">
                <div class="overlay"></div>
                <span class="materials-label">Общество</span>
                <img src="../../images/sample-preview.jpg" alt="">
              </div>
            </a>
            <div class=" row author-row">
              <span class="author-ico"></span>
              <div class="author">Автор материала</div>
            </div>
            <div class="title">Омский городской пикник посетил губернатор назаров</div>
            <div class="date">16 июля 2013</div>
            <div class="row-tags">
              <div class="tag">
                <span>пикник</span>
              </div>
            </div>
          </div>

          <div class="item">
            <a href="" class="to-materials"><!-- link to action on public-speach site -->
              <div class="img">
                <div class="overlay"></div>
                <span class="materials-label">Общество</span>
                <img src="../../images/sample-preview.jpg" alt="">
              </div>
            </a>
            <div class=" row author-row">
              <span class="author-ico"></span>
              <div class="author">Автор материала</div>
            </div>
            <div class="title">Омский городской пикник посетил губернатор назаров</div>
            <div class="date">16 июля 2013</div>
            <div class="row-tags">
              <div class="tag">
                <span>пикник</span>
                <span>правительство</span>
                <span>правительство</span>
              </div>
            </div>
          </div>

          <div class="item">
            <a href="" class="to-materials"><!-- link to action on public-speach site -->
              <div class="img">
                <div class="overlay"></div>
                <span class="materials-label">Общество</span>
                <img src="../../images/sample-preview.jpg" alt="">
              </div>
            </a>
            <div class=" row author-row">
              <span class="author-ico"></span>
              <div class="author">Автор материала</div>
            </div>
            <div class="title">Омский городской пикник посетил губернатор назаров</div>
            <div class="date">16 июля 2013</div>
            <div class="row-tags">
              <div class="tag">
                <span>пикник</span>
              </div>
            </div>
          </div>

        </div>
    <span class="js-arrow-right arrow arrow-right pull-right"></span>
  </div>
</div>