<div class="row nav">
  <div class="row full-width fixed-navbar-row">
    <div class="relative-container">
    <a href="" class="up-arrow"><img src="../images/up-arrow.png" alt=""></a>
      <div class="container container-main navbar-container">
        <nav class="navbar navbar-default fixed-navbar" role="navigation">
            <!-- <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div> -->
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2"> -->
              <ul class="nav navbar-nav center-block uppercase">
                <li><a class= "" href="#">сейчас</a></li>
                <li><a class= "" href="#">таймлайн</a></li>
                <li><a class= "" href="#">карта</a></li>
                <li><a class= "" href="#">события</a></li>
                <li><a class= "" href="#">истории</a></li>
              </ul>
            <!-- </div> -->
        </nav>
      </div>
    </div>
  </div>
</div>