<div class="row preview subheader-font"> 
  <div class="container container-main">
    <h1 class="color-text-main">анонсы мероприятий</h1>
    <div class="js-reload-preview row reload">
        <a href="" class="reload-btn" data-url="instagram-list" data-container="content-instagram" data-template="instagram"><span class="reload-img"></span>Обновить</a>
     </div>
  </div>
  <div class="container wide-container">
    <span class="js-arrow-left arrow arrow-left pull-left"></span>
        <div class="content-preview content color-text-dark">
          <div class="item"></div>
          <div class="item"></div>
          <div class="item"></div>
        </div>
    <span class="js-arrow-right arrow arrow-right pull-right"></span>
  </div>
</div>