<div class="row promo js-promo" id="promo">
    <div class="container container-main">
        <nav class="navbar navbar-default js-nav-static" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav center-block uppercase">
                    <li><a class= "" href="#social">сейчас</a></li>
                    <li><a class= "" href="#timeline">таймлайн</a></li>
                    <li><a class= "" href="#map-row">карта</a></li>
                    <li><a class= "" href="#preview">события</a></li>
                    <li><a class= "" href="#materials">истории</a></li>
                </ul>
            </div>
        </nav>
        <div class="row logo js-logo">
            <div class="col-xs-12 col-md-7 col-lg-8">
              <div class="date"> 5 июля 2014 года</div>
              <a href="http://2014.picnicomsk.ru/" target="_blank"><div class="event-title">городской <br><span>пикник</span></div></a>
            </div>
              <div class="social-link-block">

                <div class="title">Поделиться</div>
                <a href="https://vk.com/public.speech" class="social-link" target="_blank">
                  <span class="img vk"></span>
                </a>
                <a href="https://twitter.com/Public_Speech" class="social-link" target="_blank">
                  <span class="img tw"></span>
                </a>
                <a href="https://ru-ru.facebook.com/publicspeech" class="social-link" target="_blank">
                  <span class="img fb"></span>
                </a>
              </div>
            <div class="col-xs-12  col-md-5 col-lg-4 text-center parthners">
              <div class="col-xs-6 col-sm-7 col-md-6 tps">
                Придумано
                <a href="http://theps.ru" target="_blank">
                  <img src="../../images/pub-speach-logo-white.png" alt="" class="center-block">
                </a>
                </div>
              <div class="col-xs-6 col-sm-2 col-md-6 sevenbits">
                Разработано
                <a href="http://7bits.ru" target="_blank">
                  <img src="../../images/7bits-logo-white.png" alt="" class="center-block img-7bits">
                </a>
                </div>
            </div>
        </div>

        <div class="row about">
            <span class="text">Что такое городской пикник?</span>
            <span href="" class="js-what-is-it" placement="top" data-container="body" data-toggle="popover">
                <span class="question"></span>
            </span>
        </div>
        <div class="row help">
            <div class="call">поддержать проект</div>
            <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 col-centred pay-item-group text-center">
              <div class="col-xs-12 col-md-6 col-lg-6 pay-item ">
                  <a href="https://pay.vseplatezhi.ru/paymentres?provider_id=19617168" target="_blank" class="">
                      перевод банковской картой
                  </a>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6 pay-item">
                  <a href="http://2014.picnicomsk.ru/donate/" target="_blank" class="">
                      подробнее о способах поддержки
                  </a>
              </div>
            </div>
        </div>
    </div>
</div>