<div class="row promo js-promo" id="promo">
    <div class="container container-main">
        <nav class="navbar navbar-default js-nav-static" role="navigation">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button> -->
            </div>
            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
                <ul class="nav navbar-nav center-block uppercase">
                    <li><a class= "" href="#social">сейчас</a></li>
                    <li><a class= "" href="#timeline">таймлайн</a></li>
                    <li><a class= "" href="#map-row">карта</a></li>
                    <li><a class= "" href="#preview">события</a></li>
                    <li><a class= "" href="#materials">истории</a></li>
                </ul>
            <!-- </div> -->
        </nav>
        <div class="row logo js-logo">
            <div class="date"> 5 июля 2014 года</div>
            <a href="http://2014.picnicomsk.ru/" target="_blank"><div class="event-title">городской <br><span>пикник</span></div></a>
        </div>
        <div class="row about">
            Что такое городской пикник?
            <span href="" class="js-what-is-it" data-toggle="popover" title="Popover title"
                  data-content="Это первый городской праздник организованный горожанами, без администраций, организаций и корпораций.
                  Это живой концерт лучших омских групп, десятки выставок и перфомансов, игры, лекции и кино под открытым небом.
                  И все это омичи делают сами для себя."><span class="question"></span></span>

        </div>
        <div class="row help">
            <div class="call">поддержать проект</div>
            <div class="lower-font-size pay-item-group">
                <div class="pay-item">
                    <a href="https://pay.vseplatezhi.ru/paymentres?provider_id=19617168" target="_blank" class="color-text-light">
                        перевод банковской картой
                    </a>
                </div>
                <div class="pay-item"><a href="" class="color-text-light">через яндекс.кошелек</a></div>
                <div class="pay-item">
                    <a href="http://2014.picnicomsk.ru/donate/" target="_blank" class="color-text-light">
                        подробнее о способах поддержки
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>