<div class="row social-news">
  <div class="container container-main color-text-main">
    <h1>Сейчас на березовой</h1>
    <div class="row social-btn-row">
      <div class="row reload">
        <a href="" class="reload-btn js-reload" data-url="instagram-list" data-container="content-instagram" data-template="instagram"><span class="reload-img"></span>Обновить</a>
      </div>
      <div class="row social-switch">
        <a href="" class="hash-tag subheader-font">#picnicomsk</a>
        <div class="js-switch-social social-buttons pull-right">
          <a href="" class="js-switch-instagramm instagramm-btn social-btn">Instagram</a>
          <a href="" class="js-switch-twitter twitter-btn social-btn">Twitter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row social-row">
    <div class="container social-container">
      <span class="js-arrow-left arrow arrow-left pull-left"></span>
          <div class="content-instagram content color-text-dark">
          </div>
            <script type="text/x-handlebars-template" data-slider="instagram">
                {{#each this}}
                <div class="js-instagram-item instagram-item item ">
                    <h3 class="js-nick nick">@{{username}}</h3>
                    <div class="js-time-ago time-ago">{{time}}</div>
                    <a href="{{url}}" class="js-href-post">
                        <div class="post-img">
                            <div class="overlay"></div>
                            <img src="{{imageUrl}}" alt="" class="js-img-post">
                        </div>
                    </a>
                    <p class="js-post-text post-text">{{{text}}}</p>
                    <a href="{{url}}" class="js-href-post">
                        <div class="js-like like">
                            <span class="img"></span>
                            <span class="js-counter-like counter">{{likesCount}}</span>
                        </div>
                    </a>
                    <a href="{{url}}" class="js-href-post">
                        <div class="js-comment comment">
                            <span class="img"></span>
                            <span class="js-counter-comment counter">{{commentsCount}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}
            </script>

      <div class="js-content-twitter content-twitter content color-text-dark">
        <div class="item">
          <div class="twitter-item">
            <div class="row user">
              <img src="../../images/sample-small.jpg" alt="" class="avatar">
              <div class="nic">@Ferlde</div>
              <div class="date-post">4 June</div>
            </div>
            <div class="row post">
              <div class="row post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nisi, natus ipsa magnam, illum quas, nam iure dolores distinctio doloribus sunt voluptate provident dolor, debitis consequatur repudiandae. Rem, est iusto.
              <a href="">#cekope</a>
              </div>
              <a href="" class="post-href">gfirik/vrvr</a>
            </div>
              <div class="row post-img">
                <a href="">
                  <img src="../../images/show-photo.png" alt="">
                </a>
              </div>
            <div class="retwitts">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="favorites">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="twitting">
              <span class="img"></span>
            </div>
          </div>


          <div class="twitter-item">
            <div class="row user">
              <img src="../../images/sample-small.jpg" alt="" class="avatar">
              <div class="nic">@Ferlde</div>
              <div class="date-post">4 June</div>
            </div>
            <div class="row post">
              <div class="row post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nisi, natus ipsa magnam, illum quas, nam iure dolores distinctio doloribus sunt voluptate provident dolor, debitis consequatur repudiandae. Rem, est iusto.
              <a href="">#cekope</a>
              </div>
              <a href="" class="post-href">gfirik/vrvr</a>
            </div>
              <div class="row post-img">
                <a href="">
                  <img src="../../images/show-photo.png" alt="">
                </a>
              </div>
            <div class="retwitts">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="favorites">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="twitting">
              <span class="img"></span>
            </div>
          </div>



        </div>

      </div> 
      
      <span class="js-arrow-right arrow arrow-right pull-right"></span>
    </div>
  </div>
</div>