<div class="row social-news">
  <div class="container container-main color-text-main">
    <h1>Сейчас на березовой</h1>
    <div class="row btn-row">
      <div class="row social-switch">
        <a href="" class="hash-tag subheader-font">#picnic</a>
        <div class="social-buttons pull-right">
          <a href="" class="instagramm-btn social-btn">Instagramm</a>
          <a href="" class="twitter-btn social-btn">Twitter</a>
        </div>
      </div>
        <div class="row reload">
           <a href="" class="reload-btn"><span class="reload-img"></span>Обновить</a>
        </div>
    </div>
  </div>
  <div class="row social-row">
    <div class="container social-container">
      <span class="arrow arrow-left"></span>
      <div class="content color-text-dark">
        <div class="social-item">
          <h3 class="nic"></h3>
          <div class="time-ago"></div>
          <img src="" alt="">
          <p class="post-text"></p>
        <div class="like"></div>
        <div class="repost"></div>
        </div>
        <div class="social-item">
          <img src="" alt="">
          <h3 class="nic"></h3>
          <div class="time-ago"></div>
          <img src="" alt="">
          <p class="post-text"></p>
          <div class="like"></div>
          <div class="repost"></div>
        </div>
        <div class="social-item">
          <img src="" alt="">
          
        </div>
        <div class="social-item">
          <img src="" alt="">
          
        </div>
      </div>
      <span class="arrow arrow-right"></span>
    </div>
  </div>
</div>