<div class="row social-news">
  <div class="container container-main color-text-main">
    <h1>Сейчас на березовой</h1>
    <div class="row btn-row">
      <div class="row social-switch">
        <a href="" class="hash-tag subheader-font">#picnic</a>
        <div class="js-switch-social social-buttons pull-right">
          <a href="" class="js-switch-instagramm instagramm-btn social-btn">Instagramm</a>
          <a href="" class="js-switch-twitter twitter-btn social-btn">Twitter</a>
        </div>
      </div>
        <div class="js-reload row reload">
           <a href="" class="reload-btn"><span class="reload-img"></span>Обновить</a>
        </div>
    </div>
  </div>
  <div class="row social-row">
    <div class="container social-container">
      <span class="js-arrow-left arrow arrow-left pull-left"></span>
      <div class="content color-text-dark">

        

      </div>
      <span class="js-arrow-right arrow arrow-right pull-right"></span>
    </div>
  </div>
</div>