<div class="row social-news">
  <div class="container container-main color-text-main">
    <h1>Сейчас на березовой</h1>
    <div class="row social-btn-row">
      <div class="row reload">
        <a href="" class="reload-btn js-reload" data-url="instagram-list" data-container="js-content-instagram" data-template="instagram" data-items="js-instagram-item"><span class="reload-img"></span>Обновить</a>
      </div>
      <div class="row social-switch">
        <a href="" class="hash-tag subheader-font">#picnicomsk</a>
        <div class="js-switch-social social-buttons pull-right">
          <a href="" class="js-toggle-instagram instagramm-btn social-btn">Instagram</a>
          <a href="" class="js-toggle-twitter twitter-btn social-btn">Twitter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row social-row">
    <div class="container js-social-container social-container">
      <span class="js-arrow-left arrow arrow-left pull-left"></span>
          <div class="js-content-instagram content color-text-dark">
          </div>
            <script type="text/x-handlebars-template" data-slider="instagram">
                {{#each this}}
                <div class="js-instagram-item instagram-item item" style="display:none">
                    <h3 class="js-nick nick">@{{username}}</h3>
                    <div class="js-time-ago time-ago">{{time}}</div>
                    <a href="{{url}}" class="js-href-post">
                        <div class="post-img">
                            <div class="overlay"></div>
                            <img src="{{imageUrl}}" alt="" class="js-img-post">
                        </div>
                    </a>
                    <p class="js-post-text post-text">{{{text}}}</p>
                    <a href="{{url}}" class="js-href-post">
                        <div class="js-like like">
                            <span class="img"></span>
                            <span class="js-counter-like counter">{{likesCount}}</span>
                        </div>
                    </a>
                    <a href="{{url}}" class="js-href-post">
                        <div class="js-comment comment">
                            <span class="img"></span>
                            <span class="js-counter-comment counter">{{commentsCount}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}
            </script>

      <div class="js-content-twitter content color-text-dark" style="display:none">
      </div>
        <script type="text/x-handlebars-template" data-slider="twitter">
            {{#each this}}
            <div class="js-twitter-item twitter-item item" style="display:none">
                <div class="row user">
                    <img src="{{userIcon}}" alt="" class="avatar">
                    <div class="nic">@{{userAccount}}</div>
                    <div class="date-post">{{createdAt}}</div>
                </div>
                <div class="row post">
                    <div class="row post-text">{{{text}}}</div>
                </div>
                <a href="{{retweetUrl}}">
                    <div class="retwitts">
                        <span class="img"></span>
                        <span class="counter">{{retweetsCount}}</span>
                    </div>
                </a>
                <a href="{{favoriteUrl}}">
                    <div class="favorites">
                        <span class="img"></span>
                        <span class="counter">{{favoritesCount}}</span>
                    </div>
                </a>
                <a href="{{replyUrl}}">
                    <div class="twitting">
                        <span class="img"></span>
                    </div>
                </a>
            </div>
            {{/each}}
        </script>
      
      <span class="js-arrow-right arrow arrow-right pull-right"></span>
    </div>
  </div>
</div>