<div class="row social-news js-social-news" id="social">
  <div class="container container-main color-text-main">
    <h1>Сейчас на березовой</h1>
    <div class="row social-btn-row">
      <div class="row reload">
        <a href="" class="reload-btn js-reload-social" data-url="instagram-list" data-container="js-content-instagram" data-template="instagram" data-items="js-instagram-item"><span class="reload-img"></span>Обновить</a>
      </div>
    </div>
  </div>
  <div class="container container-main">
      <div class="social-switch">
        <a href="http://instagram.com/picnicomsk" class="hash-tag subheader-font js-social-official" target="_blank">#picnicomsk</a>
        <div class="js-switch-social social-buttons pull-right">
          <a href="" class="js-toggle-instagram instagramm-btn social-btn social-btn-active">Instagram</a>
          <a href="" class="js-toggle-twitter twitter-btn social-btn">Twitter</a>
        </div>
      </div>
  </div>
  <div class="row social-row">

    <div class="container js-social-container social-container wide-container">

      <span class="js-arrow-left js-arrow-social arrow arrow-left pull-left" data-container="js-content-instagram" data-items="js-instagram-item"></span>
        <div class="loader js-loader" data-container="social"></div>
          <div class="js-content-instagram content content-instagram color-text-dark">
          </div>
            <script type="text/x-handlebars-template" data-slider="instagram">
                {{#each this}}
                <div class="js-instagram-item instagram-item item" style="display:none">
                    <h3 class="js-nick nick">@{{username}}</h3>
                    <div class="js-time-ago time-ago">{{time}}</div>
                    <a href="{{url}}" class="js-href-post">
                        <div class="img">
                            <div class="overlay"></div>
                            <img src="{{imageUrl}}" alt="" class="js-img-post">
                        </div>
                    </a>
                    <p class="js-post-text post-text">{{{text}}}</p>
                    <a href="{{url}}" class="js-href-post">
                        <div class="js-like like">
                            <span class="img"></span>
                            <span class="js-counter-like counter">{{likesCount}}</span>
                        </div>
                    </a>
                    <a href="{{url}}" class="js-href-post">
                        <div class="js-comment comment">
                            <span class="img"></span>
                            <span class="js-counter-comment counter">{{commentsCount}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}
            </script>

      <div class="js-content-twitter content content-twitter color-text-dark" style="display:none">
      </div>
        <script type="text/x-handlebars-template" data-slider="twitter">
            {{#each this}}
            <div class="item js-twitter-item" style="display:none">
                <div class="twitter-item">
                    <div class="row user">
                        <img src="{{first.userIcon}}" alt="" class="avatar">
                        <div class="nic">@{{first.userAccount}}</div>
                        <div class="date-post">{{first.createdAt}}</div>
                    </div>
                    <div class="row post">
                        <div class="row post-text">{{{first.text}}}</div>
                    </div>
                    <a href="{{first.retweetUrl}}">
                        <div class="retwitts">
                            <span class="img"></span>
                            <span class="counter">{{first.retweetsCount}}</span>
                        </div>
                    </a>
                    <a href="{{first.favoriteUrl}}">
                        <div class="favorites">
                            <span class="img"></span>
                            <span class="counter">{{first.favoritesCount}}</span>
                        </div>
                    </a>
                    <a href="{{first.replyUrl}}">
                        <div class="twitting">
                            <span class="img"></span>
                        </div>
                    </a>
                </div>
                {{#if second}}
                <div class="twitter-item">
                    <div class="row user">
                        <img src="{{second.userIcon}}" alt="" class="avatar">
                        <div class="nic">@{{second.userAccount}}</div>
                        <div class="date-post">{{second.createdAt}}</div>
                    </div>
                    <div class="row post">
                        <div class="row post-text">{{{second.text}}}</div>
                    </div>
                    <a href="{{second.retweetUrl}}">
                        <div class="retwitts">
                            <span class="img"></span>
                            <span class="counter">{{second.retweetsCount}}</span>
                        </div>
                    </a>
                    <a href="{{second.favoriteUrl}}">
                        <div class="favorites">
                            <span class="img"></span>
                            <span class="counter">{{second.favoritesCount}}</span>
                        </div>
                    </a>
                    <a href="{{second.replyUrl}}">
                        <div class="twitting">
                            <span class="img"></span>
                        </div>
                    </a>
                </div>
                {{/if}}
            </div>
            {{/each}}
        </script>
      
      <span class="js-arrow-right js-arrow-social arrow arrow-right pull-right" data-container="js-content-instagram" data-items="js-instagram-item"></span>
    </div>
  </div>
</div>