<div class="row timeline subheader-font" id="timeline">
  <div class="container container-main">
    <h1 class="color-text-main">Таймлайн</h1>
  </div>
  <div class="container-timeline container wide-container js-timeline-data" data-url="timeline-list" data-container="js-content-timeline">
    <div class="js-timeline-left arrows arrow-left" data-container="js-content-timeline-2" data-hide-container="js-content-timeline">
      <span class="img"></span>
      <p>А что было раньше? :-)</p>
    </div>
    <div class="loader js-loader" data-container="timeline"></div>
    <div class="js-content-timeline content-timeline content color-text-dark">
    </div>
    <div class="js-content-timeline-2 content-timeline-2 content color-text-dark" style="display:none">
      <table class="table table-1">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <div class="rel-container">
              <div class="img">
                <span class="pointer"></span>
              </div>
              <div class="place">Омская крепость</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="rel-container">
              <div class="img">
                <span class="pointer"></span>
              </div>
              <div class="place">Воскресенский сквер</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="rel-container">
              <div class="img">
                <span class="pointer"></span>
              </div>
              <div class="place">Березовая, 4</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="rel-container">
              <div class="img">
                <span class="pointer"></span>
              </div>
              <div class="place">Стадион<br> Красная звезда</div>
            </div>
          </td>
        </tr>
      </table>

      <div class="scrolling-container js-scrolling-container">
        <table class="table table-2 js-table-2">
          <tr>
            <td>
              <div class="rel-container">
                <div class="date"><span class="year">2012</span>
                8 сент.</div>
              </div>
            </td>
            <td>
              <div class="rel-container">
                <div class="date">
                  <span class="year">2013</span>
                  3 марта
                </div>
              </div>
            </td>
            <td>
              <div class="rel-container">
                <div class="date">6 июля</div>
              </div>
            </td>
            <td>
              <div class="rel-container">
                <div class="date">17 августа</div>
              </div>
            </td>
            <td>
              <div class="rel-container">
                <div class="date">
                  <span class="year">2014</span>
                  28 дек. - 4 янв.
                </div>
              </div>
            </td>
          </tr>
          <tr class="active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="rel-container">
                <div class="img">
                  <span class="rolling"></span>
                </div>
                <div class="event">
                  <a href="">
                    Городской каток
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="rel-container">
                <div class="img">
                  <span class="move"></span>
                </div>
                <div class="event">
                  <a href="">
                    Открытие проекта горки
                  </a>
                  <a href="">
                    Горкино - ночь немого кино
                  </a>
                </div>
              </div>
            </td>
            <td></td>
          </tr>
          <tr class="active">
            <td>
              <div class="rel-container">
                <div class="img">
                  <span class="basket"></span>
                </div>
                <div class="event">
                  <a href="">Первый городской пикник</a>
                </div>
              </div>
            </td>
            <td></td>
            <td>
              <div class="rel-container">
                <div class="img">
                  <span class="basket"></span>
                </div>
                <div class="event">
                  <a href="">Второй городской пикник</a>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="rel-container">
                <div class="img">
                  <span class="snow"></span>
                </div>
                <div class="event">
                  <a href="" class="">Омские зимние игры</a>
                </div>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="js-timeline-right arrows arrow-right" data-container="js-content-timeline" data-hide-container="js-content-timeline-2" style="display:none">
      <span class="img"></span>
      <p>Далее</p>
    </div>
  </div>
</div>