<div class="row timeline subheader-font"> 
  <div class="container container-main">
    <h1 class="color-text-main">Таймлайн</h1>
    <div class="row reload">
      <a href="#" class="reload-btn js-reload-timeline" data-url="timeline-list" data-container="js-content-timeline"><span class="reload-img"></span>Обновить</a>
    </div>
 </div>
  <div class="container wide-container">
    <span class="js-arrow-left arrow arrow-left pull-left"></span>
      <div class="loader js-loader" data-container="timeline"></div>
        <div class="content-timeline content js-content-timeline color-text-dark">
        </div>
    <span class="js-arrow-right arrow arrow-right pull-right"></span>
  </div>
</div>
