<div class="row timeline subheader-font"> 
  <div class="container container-main">
    <h1 class="color-text-main">Таймлайн</h1>
  </div>
  <div class="container wide-container">
    <span class="js-arrow-left arrow arrow-left pull-left" data-container="js-content-events" data-items="js-events-item"></span>
      <div class="loader js-loader" data-container="timeline"></div>
        <div class="content-timeline content js-content-events color-text-dark">
        </div>
    
      <span class="js-arrow-right arrow arrow-right pull-right" data-container="js-content-events" data-items="js-events-item"></span>
  </div>
</div>
