<div class="row translation color-text-dark">
  <div class="container container-main">
    <h2>Трансляции с городского пикника</h2>
    <div class="js-reload-translation row reload">
      <a href="" class="reload-btn"><span class="reload-img"></span>Обновить</a>
    </div>
    <div class="row translation-feed paragraf-font text-clear">
      <ul>
        <li>
          <div class="news-info">
            <span class="circle"></span>
            <div class="news-time ">13:20</div>
            <div class="news-author">автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
              <span class="counter">1</span>
            </div>
          </div>
          <div class="news-content">
            <div class="news-title "> Название новости</div>
            <div class="news-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.
            <a href="">Подробности</a>
            </div>
            <div class="news-photos">
              <img src="../../images/sample-translation.jpg" alt="">
              <img src="../../images/sample-translation.jpg" alt="">
              <img src="../../images/sample-translation.jpg" alt="">
              <img src="../../images/sample-translation.jpg" alt="">
            </div>
          </div>
        </li>
        <li>
          <div class="news-info">
            <span class="circle"></span>
            <div class="news-time">13:20</div>
            <div class="news-author">Автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
              <span class="counter">4</span>
            </div>
          </div>
          <div class="news-content">
            <div class="news-title"> Название новости</div>
            <div class="news-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.</div>
            <div class="news-photos">
            </div>
          </div>
        </li>
        <li>
          <div class="news-info">
            <span class="circle"></span>
            <div class="news-time">13:20</div>
            <div class="news-author">Автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
              <span class="counter">8</span>
            </div>
          </div>
          <div class="news-content">
            <div class="news-title"> Название новости</div>
            <div class="news-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem porro non voluptas, sed a quisquam nesciunt incidunt repudiandae magnam et nulla odit aliquam, facere optio repellat, pariatur fugit dolorum iste quo soluta maiores nihil! Veniam distinctio quaerat facere iusto adipisci laudantium vero voluptates facilis quae fugiat odit, ea id repudiandae quidem in labore illo natus, aliquam ipsam delectus blanditiis porro? Veritatis maxime earum quo doloremque praesentium saepe accusantium accusamus, neque fugiat magni a rerum assumenda numquam, aperiam quia ipsa, fugit, ab esse quam odio! Et sed vel magni molestiae. Sunt asperiores nulla itaque quaerat eos deleniti veritatis, atque, incidunt laborum veniam magni voluptas vero sed tenetur ipsam! Dolorum qui iure quod ex nisi laboriosam odit iste, dolor alias nostrum perferendis hic quidem porro quas, esse explicabo possimus, voluptatibus accusamus ipsum quibusdam doloremque. Magni, temporibus eius optio assumenda animi illo minus. Veritatis qui, ab earum itaque similique quis non dignissimos soluta.</div>
            <div class="news-photos">
            </div>
          </div>
        </li>
        <li>
          <div class="news-info">
            <span class="circle"></span>
            <div class="news-time ">13:20</div>
            <div class="news-author">автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
              <span class="counter">8</span>
            </div>
          </div>
          <div class="news-content">
            <div class="news-title "> Название новости</div>
            <div class="news-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.
            <a href="">Подробности</a>
            </div>
            <div class="news-photos">
              <img src="../../images/sample-translation.jpg" alt="">
              <img src="../../images/sample-translation.jpg" alt="">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>