<div class="row translation color-text-dark">
  <div class="container container-main">
    <h2>Трансляции с городского пикника</h2>
    <div class="js-reload-translation row reload">
      <a href="" class="reload-btn"><span class="reload-img"></span>Обновить</a>
    </div>
    <div class="row translation-feed paragraf-font text-clear">
      <ul>
        <li>
          <div class="news-info">
            <span class="circle"></span>
            <div class="news-time ">13:20</div>
            <div class="news-author">автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
              <span class="counter">1</span>
            </div>
          </div>
          <div class="news-content">
            <div class="news-title "> Название новости</div>
            <div class="news-description js-news-description">
              <div class="news-summary js-news-summary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.
                <span class="js-news-more href">Подробности</span>
              </div>
              <div class="news-full js-news-full hide">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo illum, enim commodi, minus harum sint iusto laborum ad autem dicta provident. Aperiam pariatur, veritatis quas a nobis doloribus beatae dolore id voluptatibus praesentium explicabo aut labore quod porro quis consequatur, harum! Quod soluta quos magni optio, cupiditate ut totam esse quia rerum autem sequi. Sed hic laudantium dicta eveniet quidem. Similique, odio. Libero quae labore molestiae porro eius. Ipsum veritatis, doloremque temporibus tempora, atque earum dignissimos. Officia laborum non dicta error soluta rerum explicabo eveniet officiis doloribus, aperiam distinctio saepe fugiat, tempore nihil veniam voluptatibus odit! Blanditiis sint cum, aut nobis consequatur, at porro consequuntur facere ut voluptatibus tempora vero officiis explicabo, dolor, rerum non quibusdam! Consequuntur ipsa tempora aut, tempore molestias officiis sapiente et reprehenderit iusto, nihil esse porro. Est sint doloribus, mollitia reiciendis, quibusdam quo fugiat assumenda accusantium molestiae magnam, autem culpa libero! Molestiae laborum quod culpa neque, reiciendis dolores et ipsum, cupiditate, expedita odit assumenda distinctio quam tempora modi. Obcaecati tempora officiis voluptatum. Mollitia illo voluptatem eligendi facilis molestiae est eius quidem blanditiis quibusdam eaque, voluptate commodi dolore ratione ea fuga adipisci, ut eos saepe nulla nobis, molestias dolor. Soluta dolore architecto neque in. Placeat dignissimos nobis itaque saepe, eligendi aspernatur soluta est tempora perferendis atque at consectetur odit tempore. Ad vitae suscipit optio incidunt possimus pariatur sint itaque nulla. Voluptatem laboriosam sed rerum. Repellendus enim ex repellat odit harum blanditiis quasi nesciunt voluptates sit reiciendis, numquam iste rem voluptatem vel dolore voluptatibus, modi, natus? Assumenda explicabo atque pariatur aspernatur odit harum sint fugiat sed tempora impedit facilis nemo, nesciunt, recusandae autem quasi delectus, qui excepturi aliquid ab error quibusdam ducimus voluptatibus? Recusandae, soluta ea ullam natus enim alias laborum, tenetur laudantium laboriosam libero error quos at numquam, vel, cumque porro incidunt harum iure autem! Perferendis numquam modi cum quasi sed, laborum magnam voluptatibus nihil commodi, eum, fuga voluptate! Reiciendis voluptate quaerat minima mollitia magnam maxime eum possimus unde, sed optio? Cupiditate culpa voluptate quibusdam natus laboriosam sint quaerat et eligendi veritatis, neque. Eius tenetur voluptas sunt perspiciatis velit aut.
                <span href="" class="js-news-less href">Свернуть новость</span>
              </div>
            </div> 
            <div class="news-photos">
              <div class="img">
                <img src="../../images/sample-translation.jpg" alt="">
              </div>

              <div class="img">
                <img src="../../images/sample-translation.jpg" alt="">
              </div>
              <div class="img">
                <img src="../../images/sample-translation.jpg" alt="">
              </div>
              <div class="img">
                <img src="../../images/sample-translation.jpg" alt="">
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="news-info">
            <span class="circle"></span>
            <div class="news-time ">13:20</div>
            <div class="news-author">автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
              <span class="counter">1</span>
            </div>
          </div>
          <div class="news-content">
            <div class="news-title "> Название новости</div>
            <div class="news-description">
              <div class="news-summary js-news-summary">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.
                <span class="js-news-more href">Подробности</span>
              </div>
              <div class="news-full js-news-full hide">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores distinctio, sint, debitis aliquam expedita facere illum similique vitae voluptatem voluptatum, delectus fugiat nam, perferendis minus eveniet labore autem nesciunt incidunt?
                <span href="" class="js-news-less href">Свернуть новость</span>
              </div>
            </div> 
            <div class="news-photos">
              <div class="img">
                <img src="../../images/sample-translation.jpg" alt="">
              </div>

              <div class="img">
                <img src="../../images/sample-translation.jpg" alt="">
              </div>
            </div>
          </div>
        </li>
        

      </ul>
    </div>
  </div>
</div>