<div class="row translation color-text-dark" id="translation">
  <div class="container container-main">
    <h2>Трансляции с городского пикника</h2>
    <div class="js-reload-translation row reload">
      <a href="" class="reload-btn js-reload-broadcast">
          <span class="reload-img"></span>Обновить
      </a>
    </div>
    <div class="row translation-feed paragraf-font text-clear js-wrap-broadcast"
      <% if (from != undefined) {%>
        data-from="<%= from %>"
      <% } %>>
    </div>
  </div>
</div>

<script id="broadcast-template" type="text/x-handlebars-template">
    <ul>
    {{#each broadcast}}
        <li>
            <div class="news-info">
                <span class="circle"></span>
                <div class="news-time ">{{pptime}}</div>
                <div class="news-author">{{journalist.firstName}} {{journalist.lastName}}</div>
                <div class="news-likes js-likes-wrap">
                    <span class="js-news-likes img" data-news-id="{{id}}"></span>
                    <span class="js-counter counter">{{likes}}</span>
                </div>
            </div>
            <div class="news-content">
                <div class="news-title ">{{title}}</div>
                <div class="news-description js-news-description">
                    <div class="news-summary js-news-summary">
                        {{{lead}}}
                        <span class="js-news-more href">Подробности</span>
                    </div>
                    <div class="news-full js-news-full hided">
                        {{{content}}}
                        <span href="" class="js-news-less href">Свернуть новость</span>
                    </div>
                </div>
                <div class="news-photos">
                    {{#each imagesLinks}}
                    <div class="img">
                        <img src="{{preview}}" alt="">
                    </div>
                    {{/each}}
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
</script>