<div class="row translation color-text-dark">
  <div class="container container-main">
    <h2>Трансляции с городского пикника</h2>
    <div class="js-reload-translation row reload">
      <a href="" class="reload-btn"><span class="reload-img"></span>Обновить</a>
    </div>
    <div class="row translation-feed">
      <ul>
        <li>
          <div class="news-info">
            <div class="news-time">13:20</div>
            <div class="news-autor">Автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
            </div>
          </div>
          <div class="news-content">
            <div class="title"> Название новости</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.</div>
            <div class="news-photos">
              <img src="../../images/sample-translation.jpg" alt="">
            </div>
          </div>
        </li>
        <li>
          <div class="news-info">
            <div class="news-time">13:20</div>
            <div class="news-autor">Автор новости</div>
            <div class="news-likes">
              <span class="img"></span>
            </div>
          </div>
          <div class="news-content">
            <div class="title"> Название новости</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quae est voluptate reiciendis dolorem. Aspernatur fuga sequi quos, sit quae recusandae, culpa placeat dolor, aut ex laborum itaque nemo maiores.</div>
            <div class="news-photos">
              <img src="../../images/sample-translation.jpg" alt="">
            </div>
          </div>
        </li>
        <li>
          <div class="news-info"></div>
          <div class="news-content"></div>
        </li>
      </ul>
    </div>
  </div>
</div>