.title-map {
	// font-size: 36px;
	position: relative;
	z-index: 999;
	margin-bottom: 10px;
}

.map-row {
  // padding-top: 120px;
  padding-top: 100px;
  .map-content {
    .paragraf-font;
    font-size: 14px;
    letter-spacing: 0em;
    .text-clear;
    .title {
      .text-uppercase;
      letter-spacing: 0em;
      .subheader-font;
      font-size: 19px;

    }
  }
}

@media (min-width : 768px) 
and (max-width : 1024px) { 
  .map-row {
    padding-top: 70px;
  }
  .map-content {
    height: 465px !important;
  }
}
@media (max-height : 600px) { 
  .map-content {
    height: 265px !important;
  }
}

@media (min-width : 320px) 
and (max-width : 767px) { 
  .map-row {
    padding-top: 70px;
  }
  .map-content {
    height: 400px !important;
  }
}