.nav-fixed {
  width: 100%;
  .transition (all, 0.3s, linear);
  opacity:1;
}
.fixed-navbar-row {
  // position: fixed;
  background: @color-light;
  z-index: 9999;
  height: 90px;
    .relative-container{
      height: inherit;
      width:100%; /*70%*/
      margin-left: auto;
      margin-right: auto;
      .navbar-container{
        height: inherit;
        .row {
          margin-left: -15px;
          // margin-right: -15px;
          .fixed-navbar {
            margin-top: 15px;
            margin-bottom: 0px;
            height: inherit;
            .nav {
              li {
                width: 30%; /*18*/
                margin: 0px;
                &:first-child {
                  width: 10%;
                }
              }
            }
            .collapse.in, .collapsing {
              .nav {
                li {
                  width:100% !important;
                  float:none !important;
                  a{
                    .img {
                      // margin: auto;
                      margin-left: auto;
                      margin-right: auto;
                      float:none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
.up-arrow {
  margin-top: -10px;
}

.nav-shadow {
  .transition (all, 0.3s, linear);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(233, 233, 233, 1);
  -moz-box-shadow:    0px 5px 5px 0px rgba(233, 233, 233, 1);
  box-shadow:         0px 5px 5px 0px rgba(233, 233, 233, 1);
}

.fixed-navbar-row {
  border: #e9e9e9 1px solid;
  .up-arrow {
    .img {
      .transition (all, 0.3s, linear);
      .social-ico(37px,37px);
      background-image: url('../../images/up-arrow.png');
      &:hover {
        .transition (all, 0.3s, linear);
        background-image: url('../../images/up-arrow-hovered.png');
      }
    }
  }
  .navbar-container {
    width: 100%; /*90%*/
    .fixed-navbar {
      .navbar-nav{
        padding-top: 10px;
        li {
          .text-center;
          a {
            .transition (all, 0.3s, linear);
            color: @color-dark;
            padding-left:0px;
            padding-right:0px;
            &:hover {
              .transition (all, 0.3s, linear);
              color: @color-main;
              border-color: transparent;
            }
          &:first-child {
            border-color: transparent;
            &:hover {
              border-color: transparent;
            }
          }
          }
          a.active-link {
            color: @color-main;
            border: @color-main 2px solid;
            .transition(border,0.8s,linear);
          }
        }
      }
      .collapse.in, .collapsing {
        margin-top: 13px;
        background-color: @color-light;
        z-index: 1;
        position: inherit;
        .nav-shadow;
        padding-left: 15px;
        padding-right: 1px;
        .nav.navbar-nav {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.active-link {
  background: none;
  color: @color-main;
  border: @color-main 2px solid;
}

@media (max-width:767px) {
  .fixed-navbar-row {
    // height: 55px;
    height: 5px;
    .relative-container {
      .navbar-container {
        .row {
          .navbar {
            height:0px;
            min-height: 0px;
            .navbar-header {
              height: 0px !important;
              margin-top: -15px;
            }
            margin-top: 5px;
            .navbar-toggle {
              // margin-top: 4px !important;
              // margin-bottom: 10px !important; 
              display: block;
              width: 45px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 0px !important;
              float: none;
              background-color: white;
              z-index: 9999;
            }
          }
        }
      }
    }
  }
}

@media (min-width : 768px) 
and (max-width : 1365px) {
  .fixed-navbar-row {
    .fixed-navbar {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}