.fixed-navbar-row {
  // position: fixed;
  background: @color-light;
  z-index: 9999;
  height: 90px;
    .relative-container{
      height: inherit;
      width:70%; /**/
      margin: auto;
      .navbar-container{
        height: inherit;
        .fixed-navbar {
          height: inherit;

        }
      }
    }
}
.up-arrow {
  position: absolute;
  top: 25px;
  left: 0;
}

.fixed-navbar-row {
  border: #e9e9e9 1px solid;
  .navbar-container {
    width: 90%;
    .fixed-navbar {
      .navbar-nav{
        li {
          a {
            color: @color-dark;
            &:hover {
              color: @color-main;
            }
          }
        }
      }
    }
  }
}