.preview {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: @color-gray-light;
	h1 {
		margin-bottom: 35px;
	}
	.reload {
		margin-bottom: 35px;
	}
	.content-preview {
		.item {
			.item (30%,10px);
		}
	}
}