/*color  position  */
.promo {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../images/picknic.jpg);
}

.navbar {
  min-height: 40px;
  margin-top: 25px;
  margin-bottom: 80px;
  margin-left: -15px;
  margin-right: -15px;
    .nav {
      width: 100%;
      li {
        width: 33.333333%;/*20*/
      &:first-child {
        margin-left:0px;
      }
      &:last-child {
        margin-right:0px;
      }
      }
    }
    .collapse.in, .collapsing {
      .nav {
        li {
          width:100% !important;
          float:none !important;
        }
      }
    }
    .navbar-toggle {
      margin-right: 30px !important;
      margin-bottom: 10px !important;
      margin-top: 3px !important;
    }
}

.logo {
  margin-bottom: 65px;
  margin-left: -15px !important;
  margin-right: -15px !important;
  position: relative;
  .date {
    margin-bottom: 15px;
  }
  .event-title {
    width: 265px;
    margin-bottom: 110px;
    span {
      margin-left: -4px;
    }
  }
  .parthners {
    .tps {
      margin-bottom: 15px;
      img {
        margin-top: 20px;
      }
    }
    .sevenbits {
      img {
        // width: 100%;
        margin-top: 35px;
      }
    }
  }
}

.social-link-block {
  position: absolute;
  right: -200px;
  top:0px;
  height: 90px;
  width:155px;
  .vk {
    margin-left: 6px;
  }
  .tw {
    margin-left: 8px;
    margin-right: 10px;
    margin-top: -1px;
  }
  .fb {
    margin-top: -5px;
  }
}


.about {
  margin-bottom: 55px;
  .text {
    margin-right: 20px;
  }
  .question {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: -12px;
  }
}

.help {
  .call {
    margin-bottom: 10px;
  }
  .pay-item {
    margin-bottom: 5px;
    margin-right: 10px;
    &:last-child {
      margin-bottom: 35px;
      
    }
  }
  .pay-item-group {
    padding-left: 0px !important;
    padding-right: 0px !important;
    @media (min-width: 992px){
      .col-md-6 {
        width: 48% !important;
      }
    }
    @media (min-width: 1200px) {
      .col-lg-6 {
        width: 49% !important;
      }
    }
  }
}

/*  view  */


.navbar-default {
  background:none;
  border: none;
  .navbar-nav {
    li {
      a {
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        font-size: @font-size-main;
        color: @color-light;
        border: transparent 2px solid;
        &:hover {
          background: none;
          color: @color-main;
          border: @color-main 2px solid;
        }
      }
    }
  }
}
.promo {
  .navbar-default {
    background:none;
    border: none;
    .navbar-nav {
      li {
        a {
          .transition (all, 0.3s, linear);
          &:hover {
            .transition (all, 0.3s, linear);
          }
        }
      }
    }
  }
}

.logo {
  .date {
    padding-left: 18px;
    font-size: @font-size-lower;
  }
  a {
    color: @color-light;
    &:hover {
      color:@color-light;
    }
  }
  .event-title {
    -moz-box-shadow: 0 0 20px @color-dark;
    -webkit-box-shadow: 0 0 20px @color-dark;
    box-shadow: 0 0 20px @color-dark;
    padding: 18px 20px;
    background-color: @color-red;
    font-size: 18px;
    span {
      font-family: @font-paragraf-bolder-family;
      font-size: 52.34px;
    }
  }
  .parthners {
    padding-top: 35px;
    font-size: 16px;
  }
}


.social-link-block {
  border: 1px solid @color-gray;
  color: @color-main;
  font-size: 16px;
  background-color: @color-light;
  padding: 20px;
  .title {
    padding-bottom: 10px;
  }
  .img.vk {
    .social-ico(39px, 22px);
    background: url('../../images/social.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .img.tw {
    .social-ico(28px, 24px);
    background: url('../../images/social.png');
    background-position: -44px 0;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .img.fb {
    .social-ico(14px, 26px);
    background: url('../../images/social.png');
    background-position: -92px 0;
    background-repeat: no-repeat;
    background-size:cover;
  }
}

.about {
  .question {
    .transition (all, 0.3s, linear);
    background-size: cover;
    background-image: url(../../images/question@2.png);
    cursor:pointer;
    &:hover {
      .transition (all, 0.3s, linear);
      background-size: cover;
      background-image: url(../../images/question-red@2.png);
    }
  }
}

.help {
  font-size: 22px;
  .pay-item {
    .button(@color-light, transperent, @color-light);
    .button-hovered(@color-light,@color-main);
    .transition(all,0.4s,linear);
    padding-left: 0px;
    padding-right: 0px;

  }
}

.popover.fade.in, .popover.fade {
  border-radius: 0px !important;
  max-width: 480px !important;
  .arrow {
  }
  .popover-content {
    .paragraf-font;
    padding: 25px 20px !important;
    font-size: 18px !important;
  }
}

@media (max-width: 1535px) {
    .social-link-block {
      left: 15px;
      top:150px;
    }
}
@media (max-width:1024px) {
  .social-link-block {
    .title {
      font-size: 15px;
    }
  }
  
}

@media (max-width: 990px) {
    .logo {
      .event-title {
        margin-bottom: 60px;
      }
    }
    .social-link-block {
      left: 75%;
      top:-15px;
    }
}
@media (max-width: 745px) {
    .social-link-block {
      left: 72%;
    }
}
@media (max-width:768px) {
  .navbar {
      margin-top: 20px;
      margin-bottom: 60px;
  }
  .logo {
    .parthners {
      .sevenbits {
        img {
         // width: 100%;
         // margin-left: -20px;
        }
      }
    }
  }

}
@media (max-width: 600px) {

    .promo {
      .navbar {
        margin-bottom: 10px;
      }
    }
    .logo {
      margin-bottom: 55px;
      .event-title {
        margin-bottom: 140px;
      }
      .parthners {
        .sevenbits {
          img {
            margin-left: auto;
          }
        }
      }
    }
    .social-link-block {
      left: 15px;
      top: 150px;
    }
    .about {
      margin-bottom: 35px;
      .text {
        margin-right: 0px;
      }
    }
    .help {
      .pay-item {
        font-size: 18px;

      }
    }
}

@media (max-width:540px) {
  .logo {
    .parthners {
      .sevenbits {
        img {
          width: 95%;
        }
      }
    }
  }
}