/*color  position  */
.promo {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../images/picknic.jpg);
}

.navbar {
  min-height: 40px;
  margin-top: 25px;
  margin-bottom: 80px;
  /*uncomment to responsive*/
  // .navbar-collapse{
  //   padding-left: 0;
  //   padding-right: 0;
    .nav {
      width: 100%;
      li {
        width: 17%;
        margin-left: @nav-li-margin;
        margin-right: @nav-li-margin;
        float:left; /*delete to responsive*/
      &:first-child {
        margin-left:0px;
      }
      &:last-child {
        margin-right:0px;
      }
      }
    }
  // }
}

.logo {
  margin-bottom: 85px;
  .date {
    margin-bottom: 15px;
  }
  .event-title {
    width: 265px;
  }
}

.about {
  margin-bottom: 55px;
  .question {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: -12px;
  }
}

.help {
  .call {
    margin-bottom: 10px;
  }
  .pay-item {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }
  .pay-item-group {
    margin-bottom: 35px;
  }
}

/*  view  */


.navbar-default {
  background:none;
  border: none;
  .navbar-nav {
    li {
      a {
        padding-top: 10px;
        padding-bottom: 6px;
        text-align: center;
        font-size: @font-size-main;
        color: @color-light;
        border: transparent 2px solid;
        &:hover {
          background: none;
          color: @color-main;
          border: @color-main 2px solid;
        }
      }
    }
  }
}

.logo {
  .date {
    padding-left: 18px;
    font-size: @font-size-lower;
  }
  a {
    color: @color-light;
    &:hover {
      color:@color-light;
    }
  }
  .event-title {
    padding: 18px 20px;
    background-color: @color-red;
    font-size: 18px;
    span {
      font-family: @font-paragraf-bolder-family;
      font-size: 52.34px;
    }
  }
}

.about {
  .question {
    background-image: url(../../images/question.png);
  }
  .question:hover {
    background-image: url(../../images/question-red.png);
  }
}

.help {
  .pay-item {
    .button(@color-light, transperent, @color-light);
    .button-hovered(@color-light,@color-main);
  }
}