
/*  position  */
.social-news {
  margin-bottom: 95px;
  h1 {
    margin-bottom: 60px;
  }
}

.social-btn-row {
  .social-switch {
    margin-top: 60px;
    display: block;
    .social-buttons {
      display: inline-block;
    }
  }
}

.item {
  .item (24%, 3.8px);
}

.instagram-item {
/*  to debug*/
  display: none;
/**/
  .nick {
    margin-top: 0px;
    margin-bottom: 2px;
    .margin-left;
  }
  .time-ago {
    .margin-left;
    margin-bottom: 10px;
  }

  .post-text {
    margin-top: 20px;
    .margin-left;
    word-wrap: break-word;
  }
  .like {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico(14px, 16px);
    }
  }
  .comment {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico (16px, 16px);
    }
  }
}

.twitter-item {
  margin-bottom: 50px;
  .user {
    .avatar {
      float: left;
      margin-right: 10px;
    }
    .nic {
      margin-bottom: 5px;
    }
  }
  .post {
    margin-top: 20px;
    margin-bottom: 12px;
    a {
      color: @color-main;
      &:hover {
        color: @color-main;
        text-decoration: none;
      }
    }
  }
  .post-img {
      margin-bottom: 10px;
    }
  .retwitts {
    display: inline-block;
    .img {
      .social-ico(20px, 13px);
    }
  }
  .favorites {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico(18px, 18px);
    }
  }
  .twitting {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico(16px, 14px);
    }
  }
}

/*  view: ;*/
.social-news {
  padding-top: 80px;
}
.hash-tag{
  color: @color-main;
  &:hover {
    color:@color-main;
  }
}

.instagram-item {
  color: @color-dark;
  font-family: @font-subheader-family;
  
  .nick {
    font-size: 18px;
  }
  .time-ago {
    font-size: 12px;
    color: @color-gray;
  }
  .post-img {
    &:hover {
      .overlay {
        background-color: @color-main-translucent;
      }
    }
  }
  .post-text {
    font-family: @font-paragraf-family;
    font-size: 16px;
    text-transform:none; 
    span {
      color: @color-main;
      // &:hover {
      //   text-decoration: none;
      // }
    }
  }
  .like {
    .social-action ('../../images/heart.png', '../../images/heart-hover.png');
  }
  .comment {
    .social-action ('../../images/comment.png', '../../images/comment-hover.png');
  }
}

.twitter-item {
  font-family: @font-paragraf-family;
  font-size: 18px;
  text-transform: none;
  .user {
    .nic {
      font-family: @font-paragraf-bolder-family;
    }
    .date-post {
      font-size: 16px;
      color: @color-gray;
    }
  }
  .retwitts {
    .social-action ('../../images/retwitts.png', '../../images/retwitts-hover.png');
  }
  .favorites {
    .social-action ('../../images/favorites.png', '../../images/favorites-hover.png');
  }
  .twitting {
    .social-action ('../../images/twitte.png', '../../images/twitte-hover.png');
  }
}