
/*  position  */
.social-news {
  margin-bottom: 95px;
  h1 {
    margin-bottom: 30px; /*60*/
  }
}
.container-social-switch {
  // margin-bottom: 30px;
  .social-switch {
    a {
      margin-bottom: 30px;
    }
    .social-buttons {
      margin-bottom: 30px;
    }
  }
}

.social-btn-row {
  margin-bottom: 30px;
}

.social-container {
  .arrows {
    top: 200px;
  }
  .item {
    .point(24%, 3.8px);
  }
}
.content-instagram {
  height: 430px;
}
.content-twitter {
  height: 600px; /*590*/
  .item {
    .point(23%, 9.3px);
  }
}
.instagram-item {
/*  to debug*/
  display: none;
/**/
  .nick {
    margin-top: 0px;
    margin-bottom: 2px;
    .margin-left;
  }
  .time-ago {
    .margin-left;
    margin-bottom: 10px;
  }

  .post-text {
    margin-top: 20px;
    .margin-left;
    word-wrap: break-word;
  }
  .like {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico(14px, 16px);
    }
  }
  .comment {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico (16px, 16px);
    }
  }
}

.twitter-item {
  min-height:260px; 
  max-height:300px; 
  margin-bottom: 20px;
  &:nth-child(2) {
    margin-bottom: 100px;
  }
  .user {
    .avatar {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .nic {
      margin-bottom: 5px;
    }
  }
  .post {
    margin-top: 20px;
    margin-bottom: 12px;
    a {
      color: @color-main;
      &:hover {
        color: @color-main;
        text-decoration: none;
      }
    }
  }
  .post-img {
      margin-bottom: 10px;
    }
  .retwitts {
    display: inline-block;
    .img {
      .social-ico(20px, 13px);
    }
  }
  .favorites {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico(18px, 18px);
    }
  }
  .twitting {
    .margin-left;
    display: inline-block;
    .img {
      .social-ico(16px, 14px);
    }
  }
}

/*  view: ;*/
.social-news {
}

.social-switch {
  padding-top:60px;
  // padding-bottom: 45px;
}
.hash-tag{
  color: @color-main;
  &:hover {
    color:@color-main;
  }
}
.social-btn {
  .button(@color-main, @color-light, @color-main);
  .button-hovered (@color-light,@color-main);
}
.social-btn-active {
  .button (@color-main, @color-main, @color-light);
  .button-hovered (@color-main,@color-light);
  .transition(all,0.2s,linear);

}

.instagram-item {
  color: @color-dark;
  font-family: @font-subheader-family;
  
  .nick {
    font-size: 18px;
  }
  .time-ago {
    font-size: 12px;
    color: @color-gray;
  }
  .post-img {
    &:hover {
      .overlay {
        background-color: @color-main-translucent;
      }
    }
  }
  .post-text {
    font-family: @font-paragraf-family;
    font-size: 16px;
    text-transform:none; 
    line-height: 1.1em;
    letter-spacing: 0.03em;
    span {
      color: @color-main;
    }
  }
  .like {
    .social-action ('../../images/heart.png', '../../images/heart-hover.png');
  }
  .comment {
    .social-action ('../../images/comment.png', '../../images/comment-hover.png');
  }
}

.twitter-item {
  font-family: @font-paragraf-family;
  font-size: 18px;
  text-transform: none;
  .user {
    .nic {
      font-family: @font-paragraf-bolder-family;
    }
    .date-post {
      font-size: 16px;
      color: @color-gray;
    }
  }
  .post-text {
    word-wrap: break-word;
    line-height: 1.1em;
    letter-spacing: 0.03em;
  }
  .retwitts {
    .social-action ('../../images/retwitts.png', '../../images/retwitts-hover.png');
  }
  .favorites {
    .social-action ('../../images/favorites.png', '../../images/favorites-hover.png');
  }
  .twitting {
    .social-action ('../../images/twitte.png', '../../images/twitte-hover.png');
  }
}

@media (max-width:1200px) {
  .row-social-news {
    margin-bottom: 40px;
  }
  .content-twitter {
    height: 600px; /*590*/
    .item {
      width: 30%;
      margin-left: 16.3px;
      margin-right: 10.3px;
    }
  }
  .content-instagram {
    height: 470px;
    .item {
      width: 30%;
      margin-left: 2.5%;
    }
  }
  .instagram-item {
    margin-bottom: 200px;
  }
}

@media (max-width:1000px) {
  .row-social-news {
    margin-bottom: 40px;
  }
  .content-twitter {
    height: 540px; /*590*/
    .item {
      width: 38%;
      margin-left: 8.5%;
    }
  }
  .twitter-item {
    min-height: 240px;
    max-height: 270px;
    .user {
      .avatar {
        margin-right: 5px;
      }
    }
    .post {
      margin-top: 10px;
    }
  }
  .content-instagram {
    height: 470px;
    .item {
      width: 38%;
      margin-left: 7.5%;
    }
  }
  .instagram-item {
    margin-bottom: 200px;
  }
}
@media (max-width:990px) {
  .row-social-news {
    margin-bottom: 40px;
  }
  .content-twitter {
    height: 540px; /*590*/
    .item {
      width: 45%;
      margin-left: 19.6px;
    }
  }
  .twitter-item {
    min-height: 240px;
    max-height: 270px;
    .user {
      .avatar {
        margin-right: 5px;
      }
    }
    .post {
      margin-top: 10px;
    }
  }
  .content-instagram {
    height: 450px;
    .item {
      width: 45%;
      margin-left: 3.5%;
    }
  }
  .instagram-item {
    margin-bottom: 200px;
  }
}

@media (max-width:760px) {
  .social-news {
    padding-top: 40px;
  }
  .content-twitter {
    height: 740px; /*590*/
    .item {
      width: 40%;
      margin-left: 7%;
    }
  }
  .twitter-item {

    max-height: 370px;
    min-height: 320px;
  }
  .content-instagram {
    height: 420px;
    .item {
      width: 40%;
      margin-left: 7.5%;
    }
  }
  .instagram-item {
    margin-bottom: 200px;
  }
  
}

@media (max-width:540px) {
  .social-container {
    .arrows {
      top: 120px;
    }
    .loader {
      margin: 140px 43%;

    }
  }
  .content-twitter {
    height: 470px; /*590*/
    .item {
      width: 87%;
      margin-left: 10%;
    }
  }
  .twitter-item {
    &:nth-child(2) {
      margin-bottom: 300px;
    }
    margin-bottom: 30px;
    max-height: none;
    min-height: 0px;
  }
  .content-instagram {
    height: 450px;
    .item {
      width: 70%;
      margin-left: 15.5%;
    }
  }
  .instagram-item {
    margin-bottom: 200px;
  }
  
  
}

@media (max-width:440px) {
  .social-container {
    .arrows {
      top: 120px;
    }
    .loader {
      margin: 140px 43%;

    }
  }
  .content-twitter {
    height: 590px; /*590*/
    .item {
      width: 87%;
    }
  }
  .twitter-item {
    &:nth-child(2) {
      margin-bottom: 300px;
    }
    margin-bottom: 30px;
    max-height: none;
    min-height: 0px;
  }  
  .content-instagram {
    height: 450px;
    .item {
      width: 85%;
      margin-left: 7.5%;
    }
  }
  .instagram-item {
    margin-bottom: 200px;
  }
  .social-switch {
    padding-top: 20px;
  }
  .social-buttons {
    // .pull-left;
  }
  .social-btn-row {
    margin-top: 20px;
    // .pull-right;
  }
}

@media (max-width:360px) {
}
