@import "variables.less";
@import "promo.less";
@import "nav.less";
@import "map.less";
@import "social.less";
@import "translation.less";
@import "preview.less";
@import "fonts.less";
@import "timeline.less";
@import "materials.less";
@import "vis-custom.less";
@import "footer.less";

/*  mixins  */
.transition (@property,@time,@type) {
  -webkit-transition:  @property @time @type;
  -moz-transition:  @property @time @type;
  -o-transition: @property @time @type;
  transition:  @property @time @type;
}
.social-ico (@width,@height){
  display: block;
  float:left;
  width: @width;
  height: @height;
}

.social-action (@img, @img-hover:@img, @color:@color-gray, @color-hover: @color-main) {
  cursor: pointer;
    color: @color;
    font-size: 14px;
    .transition(all,0.3s,linear); 
    .img {
      background-image: url(@img);
      .transition(all,0.3s,linear); 
      }
    &:hover {
      color: @color-hover;
      .transition(all,0.3s,linear); 
      .img {
        background-image: url(@img-hover);
        .transition(all,0.3s,linear); 
      }
    }
}

.point (@width, @margin){
  width:@width;
  display: block;
  float: left;
  margin-left: @margin;
  margin-right: @margin;
  .img {
    position: relative;
    width: 100%;
    img {
      width: 100%;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
    }
  }
}

.button (@color-border, @color-background, @color) {
  border: 2px @color-border solid;
  padding: 12px 15px 8px 15px;
  cursor: pointer;
  color: @color;
  background-color: @color-background;
  a {
    text-decoration: none;
    color: @color;
    &:active {
      color:@color;
      text-decoration: none;
    }
    &:focus {
      color:@color;
      text-decoration: none;
    }
  }
  
}

.button-hovered (@color-background-hover, @color-hover){
  &:hover {
    background-color: @color-background-hover;
    color: @color-hover;
  a {
    color:@color-hover;
    &:hover {
      text-decoration: none;
      color:@color-hover;
      }
    &:active {
      color:@color-hover;
      text-decoration: none;
    }
    &:focus {
      color:@color-hover;
      text-decoration: none;
    }
    }
  }
}

/*  end mixins*/

.margin-left {
  margin-left: 8px;
}
.padding-top {
  padding-top: 80px;
}

body {
  cursor: default;
  line-height: 1; 
}

.headered (@fz){
  font-size: @fz;
  font-family:@font-subheader-family;
  letter-spacing: 0.06em;
  line-height: 1;
}
h1 {
  .headered(36px);

}
h2 {
  .headered(@font-size-main);
}
a {
  &:hover {
    text-decoration: none;
  }
}

.col-centred {
    float: none;
    margin: 0 auto;
}
.container-fluid {
    padding: 0px;
    width: 100%;
    min-width: 320px; /*1160*/
}
.container-main {
    max-width: 1030px;

}

.wide-container {
  max-width: 1160px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {

    margin-right: 0px;
    margin-left: 0px;
}
.relative-container {
  position: relative;
}
.full-width {
  width:100%;
}

.visible {
  .transition (all, 0.3s, linear);
  // visibility: visible;
  opacity:1;
}
.un-visible {
  .transition (all, 0.3s, linear);
  opacity:0;
  // visibility: hidden;
}

.fixed {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}

.hided {
  height: 0px;
  opacity: 0;
  display: none;
}

.showed {
  opacity: 0;
  display: block;
  height: auto;
  .transition(height,1s,linear);
}
.content {
  width: 85%;
  margin: auto;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}




.color-text-light {
  color: @color-light;
}
.color-text-dark {
  color: @color-dark;
}
.color-text-main {
  color: @color-main;
}
.main-font-size {
  font-size: @font-size-main;
}
.lower-font-size {
  font-size: @font-size-lower;
}



.border {
  border: @color-main 2px solid;
}


.reload {
  height: 34px;
  .reload-btn {
    .button(@color-main,@color-light, @color-main);
    .button-hovered (@color-main,@color-light);
    .transition(all,0.2s,linear);
    padding: 10px 15px 6px 15px;
    font-size: 15px;
    font-family: @font-header-family;
    .reload-img {
      width: 22px;
      height: 17px;
      margin-right: 6px;
      margin-bottom: -3px;
      display: inline-block;
      background-image: url('../../images/reload.png');
    }
    &:hover {
      text-decoration: none;
      .reload-img {
        background-image: url('../../images/reload-hover.png'); 
      }
    }
  }
}

.loader {
  background-image: url('../../images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 32px;
  height: 32px;
  margin: 200px 46%; /*15% 46%*/
  z-index: 100;
  display: none;
  position: absolute;
}

.arrows {
  position: absolute;
  top:30%;
  width:50px;
  height: 94px;
  display: block;
  .img {
    

    .social-ico(100%,100%);
    float:none;
  }
}
.arrows {
  cursor:pointer;
}

.arrow-left {
  left:0px;
}
.arrow-left {
  .transition(all,0.3s, linear);
  .img {
    .transition(all,0.3s, linear);
    background: url('../../images/arrows.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:cover;
  }
  &:hover {
    .transition(all,0.3s, linear);
    .img {
      .transition(all,0.3s, linear);
      background: url('../../images/arrows-hover.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size:cover;
    }
  }
}

.arrow-right {
  right: 0px;
}
.arrow-right {
  .transition(all,0.3s, linear);
  .img {
    .transition(all,0.3s, linear);
    background: url('../../images/arrows.png');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size:cover;
  }
  &:hover {
    .transition(all,0.3s, linear);
    .img {
      .transition(all,0.3s, linear);
      background: url('../../images/arrows-hover.png');
      background-position: 100% 0;
      background-repeat: no-repeat;
      background-size:cover;
    }
  }
}

.counter {
  display: block;
  float: right;
  margin-top: 3px;
  margin-left: 4px;
}
@media (max-width: 767px) {
  .padding-top {
    padding-top: 40px;
  }
  
}
@media (max-width:768px) {
  .arrow-left {
    left: 10px;
  }
  .arrow-right {
    right: 10px;
  }
}