@import "variables.less";
@import "promo.less";
@import "nav.less";
@import "fonts.less";

body {
  line-height: 1; 
}
.col-centred {
    float: none;
    margin: 0 auto;
}
.container-fluid {
    padding: 0px;
    width: 100%;
    min-width: 320px;
}
.container {
    max-width: 1030px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.relative-container {
  position: relative;
}

.full-width {
  width:100%;
}
.uppercase {
  text-transform: uppercase;
}
.header-font {
  font-family: @font-header-family;
  letter-spacing: 0.06em;
}

.color-text-light {
  color: @color-text-light;
}

.main-font-size {
  font-size: @font-size-main;
}
.lower-font-size {
  font-size: @font-size-lower;
}
.border {
  border: @color-border 2px solid;
}

