.translation {
  margin-bottom: 130px;
  h2 {
    margin-bottom: 30px;
  }
  .reload {
    margin-bottom: 40px;
  }
  ul {
    li {
      clear: both;
      width: 100%;
      &:first-child {
        .news-info {
          .circle {
            top:0px;
            right:-11px;
          }
        }
      }
      .news-info {
        float: left;
        width: 20%;
        position: relative;
        .circle {
          position: absolute;
          top:27px;
          right:-11px;
          width: 21px;
          height: 21px;
          background-image: url('../../images/circle.png');
          display: inline-block;
        }
        .news-time {
          margin-bottom: 10px;
        }
        .news-author {
          margin-bottom: 15px;
        }
        .news-likes {
          .img {
            .social-ico(14px, 16px);
            display: inline-block;
            float:none;
          }
        }
      }
      .news-content {
        width: 80%;
        float: right;
        .news-title {
          margin-bottom: 20px;
        }
        .news-description {
          margin-bottom: 15px;
          .href {
            margin-top: 15px;
            display: block;
          }
          .news-full {
            margin-top: 10px;
          }
        }
        .news-photos {
          .img {
              float: left;
              // width: 43%;
              padding-right: 10px;
              padding-bottom: 10px;
          }
        }
      }
    }
  }
}


ul {
  list-style-type:none;
  li {
    .news-info {
      padding-top:30px;
      padding-right: 30px;
      text-align: right;
      .news-time {
        .subheader-font;
        font-size: 24px;
      }
      .news-author {
        font-size: 16px;
        letter-spacing: 0.02em;
        color: darken(@color-gray, 15%);
        text-transform: capitalize;
      }
      .news-likes {
        .subheader-font;
        .social-action ('../../images/heart-hover.png','../../images/heart-active.png',@color-dark, @color-dark);
        .like-active {
          .social-ico (14px,16px);
          background-image: url('../../images/heart-active-red.png');
          .transition(all,0.3s,linear);
        }
        .like-disable {
          .social-ico (14px,16px);
          background-image: url('../../images/heart.png') !important;
          .transition(all,0.3s,linear);
        }
      }
    }
    .news-content {
      padding-top: 30px;
      padding-left: 30px;
      border-left: @color-gray 2px solid;
      .news-title {
        letter-spacing: 0.04em;
        .paragraf-font-bold;
        font-size: 20px;
      }
      .news-description {
        letter-spacing: 0em;

        font-size: 16px;
        .href {
          cursor: pointer;
          .paragraf-font-bold;
          color: @color-main;
          text-decoration: underline;
        }
        .news-summary {
        }
      }
    }
  &:first-child {
    .news-info {
      padding-top:0px;
    }
    .news-content {
      padding-top: 0px;
    }
  }
  }
}

