@color-main: #53b93a;
@color-light: #fff;
@color-red: #bc1e1d;
@color-dark: #000;
@color-text-light: @color-light;
@color-hover-text:@color-main;
@color-border:@color-main;
@color-border-light:@color-light;

@nav-li-margin: 1.5%;

@font-header-family: PFDinTextCondPro-Regular;
@font-subheader-family: PFDinTextCondPro-Medium;
@font-paragraf-family: PFAgoraSansPro;
@font-paragraf-bolder-family: PFAgoraSansPro-Bold;

@font-size-main: 24px;
@font-size-lower: 20px;
