

.vpanel.main {
  // bottom:88px !important;
}
.vpanel.side {
  bottom: 30px !important;
  .side-content {
    bottom:40px !important;
  }
}

.vpanel.content {
  height: 100% !important;
  bottom: 50px !important;
  font-family: "PFAgoraSansPro";
  text-transform: none;
  font-size: 20px;
  letter-spacing: 0em;
  // cursor: move !important;
  cursor: -webkit-grab !important;
}
.timeaxis {
  bottom: 10px !important;
}

.vis.timeline {
  .labelset {
    .vlabel {
      height:130px !important;
      .inner {
        padding-top: 20px;
        padding-left: 5px;
      }
    }
  }
}


.item.range {
  .content {
    p{
      padding-top: 5px;
      white-space: pre-wrap; /* css-3 */
      white-space: -moz-pre-wrap; /* Mozilla, начиная с 1999 года */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
  }
}

.item.range {
  .content {
    p {
      span{
        /*float:left;*/
        font-size: 14px;
        display: block;
        margin-top: 5px;
      }
    }
  }
}

.itemset {
      bottom: -50px !important;
}
.group {
  height: 130px !important;
  .item.range {
    // height: 100%;
    bottom: 10px !important;
    min-height: 110px;
  }
}