<div class="container-fluid">
  <div class="row promo">Промо
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <!-- <div class="container center-block"> -->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav center-block">
              <li><a href="#">сейчас</a></li>
              <li><a href="#">таймлай</a></li>
              <li><a href="#">карта</a></li>
              <li><a href="#">события</a></li>
              <li><a href="#">истории</a></li>
            </ul>
          </div>
        <!-- </div> -->
    </nav>
    </div>
  </div>
  <div class="row now">
    Сейчас
    <div class="row social-news">
      
    </div>
    <div class="row translation">
      
    </div>
  </div>
  <div class="row timeline">Таймлайн</div>
  <div class="row map">Карта</div>
  <div class="row preview"> Анонсы мероприятий</div>
  <div class="row materials">Материалы</div>
  <div class="row footer">Футер</div>
</div>