<div class="container-fluid">
  <div class="row promo">Промо
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav center-block">
              <li><a href="#">сейчас</a></li>
              <li><a href="#">таймлай</a></li>
              <li><a href="#">карта</a></li>
              <li><a href="#">события</a></li>
              <li><a href="#">истории</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row now">
    Сейчас
    <div class="row social-news">
      
    </div>
    <div class="row translation">
      
    </div>
  </div>
  <div class="row timeline">Таймлайн</div>
  <div class="row map">Карта</div>
  <div class="row preview"> Анонсы мероприятий</div>
  <div class="row materials">Материалы</div>
  <div class="row footer">Футер</div>
</div>