<div class="col-xl-2"></div>
<div class="container col-xl-5">
    <a href="list">Мои трансляции</a>
    <a href="logout">Выйти</a>
    <% if(typeof(error) != "undefined"){ %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
    <%}%>
    <form class="form-add-broadcast" role="form" method="post">
        <h2>Добавить трансляцию</h2>
        <div class="form-group">
            <label for="title" class="col-xl-1">Заголовок</label>
            <div class="col-xl-4">
                <input name="title" id="title" type="text" class="form-control" placeholder="Заголовок" required autofocus value="<%= form.title ? form.title : '' %>"/>
            </div>
            <div>
            </div>
        </div>
        <div class="form-group">
            <label for="lead" class="col-xl-1">Lead</label>
            <div class="col-xl-4">
                <textarea name="lead" id="lead" class="form-control" placeholder="Краткое описание" rows="3"><%= form.lead ? form.lead : '' %></textarea>
                <script type="text/javascript">
                    CKEDITOR.replace( 'lead',{
                        toolbarGroups: [
                            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                            { name: 'styles' }
                        ],
                        height: 80
                    });
                </script>
            </div>
            <div>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-xl-1">Текст</label>
            <div class="col-xl-4">
                <textarea name="content" id="content" class="form-control" placeholder="Текст трансляции" rows="10"><%= form.content ? form.content : '' %></textarea>
                <script type="text/javascript">
                    CKEDITOR.replace( 'content',{
                        toolbarGroups: [
                            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                            { name: 'styles' }
                        ]
                        });
                </script>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" role="uploadcare-uploader"
                   data-images-only="true"
                   data-multiple="true" />
        </div>
        <input id="group-uuid" type="hidden" name="group-uuid" value="" />
        <input id="images-count" type="hidden" name="images-count" value="" />
        <div class="form-group">
            <div class="col-xl-1">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
</div>
<!--<iframe-->
        <!--src="http://ucarecdn.com/cf272a92-2bf4-40e6-803e-6f320af4ea43~2/gallery/-/nav/thumbs/-/fit/cover/-/loop/true/-/allowfullscreen/native/-/thumbwidth/100/"-->
        <!--width="100%" height="450" allowfullscreen="true"frameborder="0"-->
        <!-->

<!--http://ucarecdn.com/cf272a92-2bf4-40e6-803e-6f320af4ea43~2/gallery/-/nav/thumbs/-/fit/cover/-/loop/true/-/allowfullscreen/native/-/thumbwidth/100/-->

<!--http://ucarecdn.com/8854d92f-1239-44be-8940-1408c6454c0d~2/nth/0/-/preview/300x500/-->
