<div class="col-xs-4"></div>
<div class="container col-xs-2">
    <br/><br/><br/><br/><br/><br/>
    <form class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading">Вход для журналистов</h2>
        <input name="login" type="text" class="form-control" placeholder="Имя пользователя" required autofocus>
        <input name="password" type="password" class="form-control" placeholder="Пароль" required>
        <% if(typeof(error) != "undefined"){ %> <%= error%> <%}%>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    </form>

</div> <!-- /container -->
